[Unit]
Description=ESPHome Device Builder - interface web

[Service]
Type=simple
WorkingDirectory=%h/esphome
Environment="PATH=%h/.local/share/esphome/bin:%h/.local/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=%h/.local/share/esphome/bin/esphome-device-builder %h/esphome --host 127.0.0.1 --port 6054 --remote-build-host 127.0.0.1
Restart=on-failure
RestartSec=5
UMask=0077

[Install]
WantedBy=default.target
